/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1a1a1a;
  --ifm-color-primary-dark: #171717;
  --ifm-color-primary-darker: #151515;
  --ifm-color-primary-darkest: #111111;
  --ifm-color-primary-light: #1d1d1d;
  --ifm-color-primary-lighter: #1f1f1f;
  --ifm-color-primary-lightest: #232323;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
  --ifm-background-color: #1a1a1a;
  --ifm-background-surface-color: #232323;
  --ifm-font-color-base: #ffffff;
  --ifm-footer-background-color: #111111;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8a8a8a;
  --ifm-color-primary-dark: #7c7c7c;
  --ifm-color-primary-darker: #757575;
  --ifm-color-primary-darkest: #616161;
  --ifm-color-primary-light: #989898;
  --ifm-color-primary-lighter: #9f9f9f;
  --ifm-color-primary-lightest: #b3b3b3;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
  --ifm-background-color: #1a1a1a;
  --ifm-background-surface-color: #232323;
  --ifm-footer-background-color: #111111;
}

.footer {
  background-color: #111111;
}
